.headerContainer{
    max-width: 1024px;
    min-height: 80px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.normalView{
    margin: 0px auto;
}

.headerContainer ul{
    display: flex;
}

a{
    text-decoration: none;
    font-size: 2rem;
    /* border: 2px solid black; */
    border-bottom: 2px solid rgba(255, 255, 255, 0.712);
    margin-right: 20px;
    padding: 10px 20px;
    transition-delay: 100ms;
    transition-timing-function: linear;
}

a:hover{
    /* border-right: 2px solid black; */
    border-radius: 25%;
}

img {
    display: none;
}


@media (max-width: 768px){
    
    img{
        display:block;
    }

    .normalView{
        display: none;
    }

    a{
        font-size: 1em;
        border: none;
    }

    img{
        position: fixed;
        margin-top: auto;
    }

    .headerContainer{
        max-height: 80px;
    }

    .headerContainer ul{
        background-color: #0b3e5a;
        display: block;
        margin-left: 55px;
        margin-top: 70px;
    }
    .headerContainer li{
        margin-bottom: 8px;
    }
}