<div class="headerContainer">
    <div class="normalView">
        <ul>
            <li><a href="#Home" >Home</a></li>
            <li><a href="#About">About</a></li>
            <li><a href="#Skills">Skills</a></li>
            <li><a href="#Projects">Projects</a></li>
            <li><a href="#Contact">Contact</a></li>
        </ul>
    </div>
    
    <img class="Mov" src="../../assets/menu_black_48dp.svg" alt="Menu" (click)="onOpen()">
    <ul class="movMenu" *ngIf="isOpen">
        <li><a href="#Home" >Home</a></li>
        <li><a href="#About">About</a></li>
        <li><a href="#Skills">Skills</a></li>
        <li><a href="#Projects">Projects</a></li>
        <li><a href="#Contact">Contact</a></li>
    </ul>
    
</div>