<div id="About" class="about">
    <div class="title">
        <h1>ABOUT</h1>
    </div>
    <div class="content">
        <div>
            <img src="../../assets/pexels-neo-2653362.jpg" alt="Working">
        </div>
        <div class="texto">
            <p>Hi, i'am Marco Machado, i'm from Cabeceiras de Basto. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa, commodi. and i have a degree in I.E</p>
            <br>
            <p>I got my degree in bragança, after that i took a break to focus on my self and learn new laguagues that i didnt had the aportunity to learn in uni, like for exeemple:</p>
            <ul>
                <li>NodeJs</li>
                <li>Angular</li>
                <li>HTML-CSS-BootStrap</li>
                <li>MEANCOURSE</li>
            </ul>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus eius earum ad non culpa, numquam sed, doloribus mollitia possimus unde voluptate, quae praesentium tenetur maiores similique perspiciatis ipsa dolor consequuntur.</p>
        </div>
    </div>
    
</div>