.about{
    text-align: center;
    padding-top: 150px;
}

.content{
    min-height: 500px;
    width: 100%;
    margin-top: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    
}
.content img {
    width: 500px;
    height: 500px;
    margin-right: 40px;
}

.content p{
    word-break: break-all;
}

.texto{
    width: 40%;
    margin-top: 50px;
    font-size: 1.3em;
}


.texto p{
    margin-bottom: 50px;
    font-size: 1.2em;
}



@media (max-width: 768px) {
    .about{
        text-align: center;
        padding-top: 0px;
    }
    .content{
        width: 100%;
        margin-top: 50px;
        
    }
    .texto{
        width: 80%;
        margin-top: 50px;
    }

    img{
        display: none;
    }
    
}