<div id="Projects" class="pro" >
    <div class="text">
        <h1>Projects</h1>
    </div>
    <div class="projects">
        <div class="cards" style="background-image: url(../../assets/RecepiBook.jpg); cursor: pointer;" (click)="openUrl('https://courseprojectangular.web.app/auth')" >
            <div class="appear">
                <a class="btn" href="https://github.com/MarcoMachado-WebDev/AngularProject" target="_blank" (click)="onClick()">Git</a>
                <a class="animated" href="https://courseprojectangular.web.app/auth" target="_blank" (click)="onClick()"></a>
            </div>
        </div>
        <div class="cards" style="background-image: url(../../assets/ToDoList\ 1.svg); cursor: pointer;" (click)="openUrl('https://courseprojectangular.web.app/auth')" >
            <div class="appear">
                <a class="btn" href="https://github.com/MarcoMachado-WebDev/ToDoList" target="_blank" (click)="onClick()">Git</a>
                <a class="animated" href="https://todolist-cd7c9.web.app/" target="_blank" (click)="onClick()"></a>
            </div>
        </div>
        <div class="cards" style="background-image: url(../../assets/MyMessages\ 1.svg); cursor: pointer;" (click)="openUrl('https://courseprojectangular.web.app/auth')" >
            <div class="appear">
                <a class="btn" href="https://github.com/MarcoMachado-WebDev/MeanProject" target="_blank" (click)="onClick()">Git</a>
                <a class="animated" href="http://myangularmeancourse.s3-website.us-east-2.amazonaws.com/" target="_blank" (click)="onClick()"></a>
            </div>
        </div>
    </div>
    
</div>