<div id="Projects" class="pro" >
    <div class="text">
        <h1>Projects</h1>
    </div>
    <div class="projects">
        <div class="cards" style="background-image: url(../../assets/GaolWeb\ 1.svg); cursor: pointer;" (click)="openUrl('https://courseprojectangular.web.app/auth')" >
            <div class="appear">
                <a class="btn" href="#" (click)="onClick()">Git</a>
                <a class="animated" href="https://courseprojectangular.web.app/auth" target="_blank" (click)="onClick()"></a>
            </div>
        </div>
        <div class="cards" style="background-image: url(../../assets/GaolWeb\ 1.svg); cursor: pointer;" (click)="openUrl('https://courseprojectangular.web.app/auth')" >
            <div class="appear">
                <a class="btn" href="#" (click)="onClick()">Git</a>
                <a class="animated" href="https://courseprojectangular.web.app/auth" target="_blank" (click)="onClick()"></a>
            </div>
        </div>
        <div class="cards" style="background-image: url(../../assets/GaolWeb\ 1.svg); cursor: pointer;" (click)="openUrl('https://courseprojectangular.web.app/auth')" >
            <div class="appear">
                <a class="btn" href="#" (click)="onClick()">Git</a>
                <a class="animated" href="https://courseprojectangular.web.app/auth" target="_blank" (click)="onClick()"></a>
            </div>
        </div>
    </div>
    
</div>